extends ../layout

block content
    table.table

        thead

            tr

                th(scope='col') #

                th(scope='col') Nombre

                th(scope='col') Genero

                

        tbody

            each bici in bicis

                tr

                    td(scope='row')= bici.id

                    td= bici.color

                    td= bici.modelo

                    td= bici.ubicacion